<div class="container">
    <div class="jumbotron">
        <h1>Let`s Go!</h1>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Snake Game</div>
        <div class="panel-body" #container>
            <canvas #mainCanvas class="text-center"></canvas>
            <h1 *ngFor="let Points of Score">Score: {{Points}}</h1>
            <button routerLink='/snake-menu' class="btn btn-primary btn-block">Back to Main Menu</button>
        </div>   
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
