<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Let`s Go!</h1>
        <p class="text-center">press 'Space' to pause the game</p>
    </div>
    <div class="card">
        <div class="card-header text-white bg-info">Snake Game</div>
        <div class="card-body" #container>
            <canvas #mainCanvas class="text-center canvas-style"></canvas>
            <h1 *ngFor="let Points of Score" class="mt-3 mb-3">Score: {{Points}}</h1>
            <button routerLink='/snake-menu' class="btn btn-primary btn-block">Back to Main Menu</button>
        </div>   
    </div>
</div>
<ng-template #modalSelector let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Game Interruption :</h4>
    </div>
    <div class="modal-body">
        <p>{{modalBody}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Continue</button>
    </div>
</ng-template>
