<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Let`s Build!</h1>
    </div>
    <div class="card">
        <div class="card-header">Standard Settings</div>
        <div class="card-body">
            <div class="form-group">
                <label class="control-label" for="levelWidth">Level Width </label>
                <input #LevelWidth="ngModel" 
                        type="number"
                        id="levelWidth" 
                        class="form-control"
                        value="20" 
                        required 
                        min="7"
                        max="50" 
                        maxlength="2" 
                        minlength="1" 
                        [(ngModel)]="this.levelWidth">
        </div>
        <div class="form-group mt-5 ">
                <label class="control-label" for="LevelHeight">Level Height</label>
                <input #LevelHeight="ngModel"
                        class="form-control"
                        id="LevelHeight"
                        type="number" 
                        value="15" 
                        required 
                        min="7" 
                        max="50" 
                        maxlength="2" 
                        minlength="1" 
                        [(ngModel)]="this.levelHeight">
        </div>
        <div class="form-group mt-5">
            <label class="control-label">Game Mode</label>
            <select #GameMode="ngModel" 
                    [(ngModel)]="this.gameMode" 
                    required
                    class="form-control">
                    <option value="1">Singleplayer</option>
                    <option value="2">Multiplayer</option>
            </select>
        </div>
        <div class="form-group mt-5 ">
            <label class="control-label" for="snakeLength">Snakelength : </label>
            <input #SnakeLength="ngModel"
                    class="form-control"
                    id="LevelHeight"
                    type="number" 
                    value="1" 
                    required 
                    min="1" 
                    max="6" 
                    maxlength="2" 
                    minlength="1" 
                    [(ngModel)]="this.snakeLength">
    </div>
    </div>
    <div class="card">
        <div class="card-header text-white bg-info">Snake Editor</div>
        <div class="card-body">
            <canvas #editorCanvas class="text-center mb-3"></canvas>
            <button routerLink='/snake-menu' class="btn btn-primary btn-block">Back to Main Menu</button>
        </div>   
    </div>
</div>
