<div class="container">
    <div class="jumbotron">
            <h1 class="text-center">Let`s Build!</h1>
    </div>
    <div class="card mt-3 col-sm-6">
        <div class="card-header">Preview of last configured Levels</div>
        <div class="card-body">
            <canvas #previewCanvas class="text-center canvas-style"></canvas>
            <button (click)="showconfig()" class="btn btn-info mt-3 mb-3">showConfigs</button>
        </div>
    </div>
    <div class="card mt-3 col-sm-6">
        <div class="card-header">Levels :</div>
        <div class="card-body">
            <ul>
                <li *ngFor="let Level of this.configurationService.levelConfigs" (click)="playConfig(Level)">Level : {{ Level.levelWidth }} x {{Level.levelHeight}}</li>
            </ul>
        </div>
    </div>
</div>

