<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the Snake Game</h1>
    </div>
    <div class="alert alert-success text-center" *ngIf="this.alertState" role="alert">
        <p>You've finished the Game</p>
    </div>

    <div class="card">
        <div class="card-header bg-info text-white mb-3">Setup Your Game</div>
        <div class="card-body">
                <div class="card">
                        <div class="card-header bg-info text-white mb-3">Level Setup</div>
                        <div class="card-body">
                                <div class="form-group">
                                        <label class="control-label" for="levelWidth">Level Width </label>
                                        <input #LevelWidth="ngModel" 
                                                type="number"
                                                id="levelWidth" 
                                                class="form-control"
                                                value="20" 
                                                required 
                                                min="7"
                                                max="50" 
                                                maxlength="2" 
                                                minlength="1" 
                                                [(ngModel)]="configurationData.levelWidth">
                                </div>
                                <div class="form-group mt-5 ">
                                        <label class="control-label" for="LevelHeight">Level Height</label>
                                        <input #LevelHeight="ngModel"
                                                class="form-control"
                                                id="LevelHeight"
                                                type="number" 
                                                value="15" 
                                                required 
                                                min="7" 
                                                max="50" 
                                                maxlength="2" 
                                                minlength="1" 
                                                [(ngModel)]="configurationData.levelHeight">
                                
                                </div>
                                <div class="form-group mt-5">
                                        <label class="control-label" for="snakeLength">Default Snake Length</label>
                                        <input #snakelength="ngModel" 
                                                type="number" 
                                                class="form-control"
                                                id="snakeLength"
                                                value="1" 
                                                required 
                                                min="1" 
                                                max="6"
                                                maxlength="1" 
                                                minlength="1" 
                                                [(ngModel)]="configurationData.snakeLength">
                                </div>
                                <div class="form-group mt-5">
                                        <label class="form-check-label" for="wall">Walk Through Walls</label>
                                        <input #wall="ngModel" 
                                                [(ngModel)]="configurationData.wall"
                                                class="form-control" 
                                                id="wall"
                                                type="checkbox" 
                                                >
                                </div>
                                
                                <div class="form-group mt-5">
                                        <label class="form-check-label" for="grid">Show Grid</label>  
                                        <input #grid="ngModel" 
                                                [(ngModel)]="configurationData.grid"
                                                class="form-control" 
                                                id="grid"
                                                type="checkbox"
                                                checked>         
                                </div>    
                                <div class="form-group mt-5">
                                        <label class="form-check-label" for="color">Choose a Color for Your Snake :</label>
                                        <input #color = "ngModel"
                                                [(ngModel)] = "configurationData.color"
                                                class="form-control"
                                                id="color"
                                                type="color">
                                </div>
                        </div>
                </div>

                <div class="card card-margin">
                        <div class="card-header bg-info text-white mb-3">Game Mode</div>
                        <div class="card-body">
                                <div class="form-group">
                                        <label class="control-label">Difficulty</label>
                                        <select #skillLevel="ngModel" 
                                                [(ngModel)]="configurationData.skillLevel" 
                                                required
                                                class="form-control">
                                                <option value="10">Easy</option>
                                                <option value="5">Medium</option>
                                                <option value="2">Hard</option>
                                                </select>
                                </div>
                                <div class="form-group mt-5">
                                        <label class="control-label">Speed</label>
                                        <select #Speed="ngModel" 
                                                [(ngModel)]="configurationData.speed" 
                                                required
                                                class="form-control">
                                                <option value="0.5">Slow</option>
                                                <option value="0.25">Medium</option>
                                                <option value="0.1">Fast</option>
                                                </select>
                                </div>
                                <div class="form-group mt-5">
                                        <label class="control-label">Game Mode</label>
                                        <select #playerCount="ngModel" 
                                                [(ngModel)]="configurationData.playerCount" 
                                                required
                                                class="form-control">
                                                <option value="1">Singleplayer</option>
                                                <option value="2">Multiplayer</option>
                                        </select>
                                </div>
                                <div class="form-group mt-5">
                                        <label class="control-label">Lives</label>
                                        <select #Lives="ngModel" 
                                                [(ngModel)]="configurationData.lives" 
                                                required
                                                class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="5">5</option>
                                                </select>
                                </div>
                        </div>
                </div>
                <div class="card card-margin">
                        <div class="card-header bg-info text-white mb-3">How to Controll the Snake</div>
                        <div class="card-body">
                                <div class="row">
                                        <div class="col-sm-4 center-text">
                                                <div class="card">
                                                        <div class="card-header">
                                                                <h3>Controlling</h3>
                                                        </div>
                                                        <div class="card-body">
                                                                <p>Up : </p>
                                                                <p>Down : </p>
                                                                <p>Left : </p>
                                                                <p>Right : </p>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-4 center-text">
                                                <div class="card">
                                                        <div class="card-header">
                                                                <h3>Player 1: </h3>
                                                        </div>
                                                        <div class="card-body">
                                                                <p *ngFor="let Key of configurationData.player1Keys">{{Key}}</p>
                                                        </div>
                                                </div>
                                                
                                        </div>
                                        <div class="col-sm-4 center-text" *ngIf="configurationData.playerCount == 2">
                                                        <div class="card">
                                                                <div class="card-header">
                                                                        <h3>Player 2: </h3>
                                                                </div>
                                                                <div class="card-body">
                                                                        <p *ngFor="let Key of configurationData.player2Keys">{{Key}}</p>
                                                                </div>
                                                        </div>
                                </div>
                                </div>
                        </div>

                </div>

                <div class="form-group mt-5">        
                        <p id="invalidText" 
                        *ngIf="LevelWidth.invalid || LevelHeight.invalid || snakelength.invalid">
                        This Input is not valid
                        </p>
                        <input type="submit" value="Start Game" class="btn btn-primary btn btn-block" *ngIf="LevelWidth.valid && LevelHeight.valid && snakelength.valid"  
                                (click)="startGame()">
                </div>
        </div>
    </div>  
</div>